---
- name: Installing Typst binary
  ansible.builtin.unarchive:
    src: "https://github.com/typst/typst/releases/download/v0.10.0/typst-x86_64-unknown-linux-musl.tar.xz"
    dest: "{{ local_bin }}"
    remote_src: true
    keep_newer: true
    extra_opts: ['--strip-components=1', 'typst-x86_64-unknown-linux-musl/typst']

- name: Update Typst binary
  ansible.builtin.command: "{{ local_bin }}/typst update"
