[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Type=forking
ExecStart=/usr/bin/tmux new -d -s main
ExecStop=/usr/bin/tmux kill-server -t main

[Install]
WantedBy=multi-user.target
